#app-header{
    position: sticky;
    top: 0;
    background-color: #1c509d;
    padding: 0 1rem;
    height: 70px;
    width: 100%;
    z-index: 9998;
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;

    body {
        font-family: Helvetica;
        margin: 0;
      }
      a {
        text-decoration: none;
        // color: #000;
        color: white;
      }
    
      
      .app-header::after {
        content: "";
        display: table;
        clear: both;
      }
      
      .site-identity {
        float: left;
        h1 {
            font-size: 1.5em;
            margin: .7em 0 .3em 0;
            display: inline-block;
          }
          img {
            max-width: 55px;
            float: left;
            margin: 0 10px 0 0;
          }
          
      }
      .site-navigation {
        float: right;
        ul, li {
            margin: 0; 
            padding: 0;
          }
          li {
            display: inline-block;
            margin: 1.4em 1em 1em 1em;
          }
          .name {
            color: white;
            font-weight: bolder;
          }
      }
    }
      