
#middle{
    border-radius: 15px;
    width: 65%;
    margin: 0 auto;
    margin-top: -3%;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.08);
        #left-panel{
            padding: 4rem;
            #form-heading{
                font-size: 40px;
                text-align: center;
                font-family: 'OpenSans-Regular';
            }
            #input-wrapper{
                #inline-details{
                    display: inline-block;
                    margin: 0 2rem 2rem 2rem;
                }
                .accounts-inputs{
                    margin-top: 10px;
                }
            }
        }
        .primary-button{
            position: relative;
            margin-bottom: 2rem;
            padding: 10px 20px;
            line-height: 20px;
            font-family: "IBM-Plex-Sans-SemiBold", Arial, Helvetica, sans-serif;
            font-size: 12PX;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            transition: 0.1s linear;
            border-radius: 5px;
            &:hover  {
                transition: .1s linear;
            }
        }
        .red{
            background-color: red;
            border: 0.1rem solid red;
            left: 7%;
        }
        .blue{
            background-color: #1c4da0;
            border: 0.1rem solid #1c4da0;
            left: 80%;
        }
        #right-panel{
            background-color: rgba(28,77,160,.06);
            #potential-returns{
                margin: 20px 60px;
                .inital-text{
                    color: rgba(0,0,0,.25);
                    font-family: "IBM-Plex-Sans-SemiBold";
                }
            }
        }

}
.bg { 
    /* The image used */
    background-image: url("/assets/images/home-background.jpg");
  
    /* Full height */
    height: 500px; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
#bottom{
    height: 300px;
}
