<div id="signup-warpper">
    <app-background></app-background>
    <div id="middle"> 
        <div id="left-panel">
            <h3 id="form-heading">Account Details</h3>
            <div id="input-wrapper" style="margin-left: 5rem;">
                <form [formGroup]="inputForm">
                    <div class="form-group" class="accounts-inputs">
                        <label>Address line 1</label>
                        <input type="text" formControlName="address1" maxlength="200" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address1.errors }"/>
                        <div *ngIf="(f.address1.invalid && f.address1.touched) || f.address1.dirty">
                            <small *ngIf="f.address1.errors?.required" class="text-danger">Address line 1 is required</small>
                        </div>
                    </div>
                    <div class="form-group" class="accounts-inputs">
                        <label>Address line 2</label>
                        <input type="text" formControlName="address2" maxlength="200" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address2.errors }"/>
                        <div *ngIf="(f.address2.invalid && f.address2.touched) || f.address2.dirty">
                            <small *ngIf="f.address2.errors?.required" class="text-danger">Address line 2 is required</small>
                        </div>
                    </div>
                    <div class="form-group" class="accounts-inputs">
                        <label>Mobile</label>
                        <input type="text" formControlName="mobile" maxlength="15" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"/>
                        <div *ngIf="(f.mobile.invalid && f.mobile.touched) || f.mobile.dirty">
                            <small *ngIf="f.mobile.errors?.required" class="text-danger">Mobile number is required</small>
                        </div>
                    </div>
                    <div class="form-group" class="accounts-inputs">
                        <label>City</label>
                        <input type="text" formControlName="city" maxlength="30" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                        <div *ngIf="(f.city.invalid && f.city.touched) || f.city.dirty">
                            <small *ngIf="f.city.errors?.required" class="text-danger">City is required</small>
                        </div>
                    </div>
                    <div class="form-group" class="accounts-inputs">
                        <label>Country</label>
                        <select id="state" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                            <option selected>Choose...</option>
                            <option>Technology</option>
                            <option>Energy</option>
                            <option>Finance</option>
                          </select>
                        <div *ngIf="(f.country.invalid && f.country.touched) || f.country.dirty">
                            <small *ngIf="f.country.errors?.required" class="text-danger">Country is required</small>
                        </div>
                    </div>
                    <div class="form-group" class="accounts-inputs">
                        <label>State/Province</label>
                        <select id="state" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                            <option selected>Choose...</option>
                            <option>Technology</option>
                            <option>Energy</option>
                            <option>Finance</option>
                          </select>
                        <div *ngIf="(f.state.invalid && f.state.touched) || f.state.dirty">
                            <small *ngIf="f.state.errors?.required" class="text-danger">State is required</small>
                        </div>
                    </div>
                    <div class="button-wrapper">
                        <button  type="submit" (click)="onSubmit()" class="primary-button blue" >Save</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- <div> -->
            <!-- <button style="" type="submit" (click)="onSubmit()" class="primary-button blue" >Save</button> -->
            <!-- <button type="submit" (click)="onClear()" class="primary-button red" >Clear</button> -->
        <!-- </div> -->
    </div>
</div>