<div id="landing-page-wrapper">
    <div id="top">
        <div id="header">
          <section class="content-wrapper-header d-inline-flex align-items-center mb-0">
          <h1 class="ml-4 mb-0 calc-title">Your personal Portfolio Manager</h1>
          </section>
          <div class="list-section">
            <p>
                <i class="fa-sharp fa-solid fa-check fa-beat font-icon-style" style="color: #3acf44;"></i>Hassle-free & automated transaction imports 
            </p>
            <p>
                <i class="fa-sharp fa-solid fa-check fa-beat font-icon-style" style="color: #3acf44;"></i>Powerful performance analytics and comparisons
            </p>
            <p>
                <i class="fa-sharp fa-solid fa-check fa-beat font-icon-style" style="color: #3acf44;"></i>Detailed & ready to file tax statement
            </p>
            <p>
                <i class="fa-sharp fa-solid fa-check fa-beat font-icon-style" style="color: #3acf44;"></i>Automated capturing of all dividends, bonuses, rights, and splits
            </p>
            <p>
                <i class="fa-sharp fa-solid fa-check fa-beat font-icon-style" style="color: #3acf44;"></i>Manage and track your and your family's investments in one place
            </p>
          </div>
          <p class="more vr-para-tools p--section-desc mb0" id="show-more-less">
          <span class="text-truncated">
            This undoubtedly makes it India’s best portfolio management system. Experience the magic yourself!
          </span>
          </p>                                    
        </div>
    </div>
    <div id="middle">
        <div class="text-center">
            <button type="submit" class="primary-button" style="margin-right: 20px;" (click)="goToExisitngPortfolio()">Exisitng Portfolio</button>
            <button type="submit" class="primary-button" (click)="goToRecomendation()">Recommendation</button>
        </div>
    </div>
    <div id="bottom">

    </div>
</div>