<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 news-left">
          <div class="news-left-card" [ngClass]="{'selected-left-menu': news.author == selectedNews.author}" *ngFor="let news of teslaNews" (click)="setSelectedNews(news)">
            {{ news.title }}
          </div>
      </div>
      <div class="col-sm-8 col-md-8 news-right">
        <h1 class="title">{{selectedNews.title}}</h1>
        <p class="author">- {{selectedNews.author}} - <span class="author-date"> {{selectedNews.publishedAt | date : 'short'}}</span></p>
        <p class="description">{{selectedNews.description}}</p>
        <p><a href="selectedNews.url">more info</a></p>
        <img [src]="selectedNews.urlToImage" alt="Place image title">
      </div>
    </div>
  </div>
</div>