<div id="left-panel">
    <div id="description">
        <h3>Investment</h3>
        <h6>By Kevin Hassett</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi velit laboriosam cum voluptatum fuga commodi esse libero error beatae minus iusto, repudiandae laudantium ab amet accusantium nesciunt tempora impedit quaerat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam qui sint eius nisi deleniti sit odit repellat minus eos animi.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem repellat molestias error velit inventore aut blanditiis itaque aliquam excepturi placeat molestiae ipsa consequuntur, iste ipsam expedita culpa voluptatibus debitis magnam adipisci ab vero ullam totam sint. Recusandae in, cupiditate, accusantium quasi similique iusto sed impedit nulla quidem a incidunt ratione cumque minus consequatur. Voluptate vitae nobis quos. Modi maiores voluptatibus amet in, beatae perspiciatis fuga at. Rerum ex minima esse nobis! Dolorum dignissimos, aliquam provident nihil quasi, dicta veniam omnis iure dolores odit amet vitae incidunt, modi placeat necessitatibus perferendis. Sed ipsum quasi ipsa repellat molestiae! Iusto, voluptas magni? Nam.
        </p>
    </div>
    <div id="slider-wrapper">
        <div class="slider">
          <div class="slide-track">
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
          </div>
        </div>
      </div>
</div>