<div id="recommendation-screen">
    <!-- <app-background></app-background> -->
    <div id="recommendation-screen-grid">
        <h2 style="text-align : center; margin-bottom: 20px;">Recomended Stocks - {{ recomendedData.sector}}</h2>
        <div class="app-table">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Select Stock</th>
                    <th scope="col">Ticker Symbol</th>
                    <th scope="col">Stock Name</th>
                    <th scope="col">Current Market Price</th>
                    <th scope="col">Investment Duration</th>
                    <th scope="col">Target Price</th>
                    <th scope="col">Stock Loss</th>
                    <th scope="col">Potential Upside</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let recommendedSecurity of recomendedData.stockDetails">
                          <td> <input type="checkbox" (change)="onChange(recommendedSecurity)"  class="custom-control-input" id="customCheck1"></td>
                          <td>{{recommendedSecurity.tickerSymbol}}</td>
                          <td>{{recommendedSecurity.stockName}}</td>
                          <td>{{recommendedSecurity.currentMarketPrice}}</td>
                          <td>{{recommendedSecurity.investmentDuration}}</td>
                          <td>{{recommendedSecurity.targetPrice}}</td>
                          <td>{{recommendedSecurity.stcokLoss}}</td>
                          <td>{{recommendedSecurity.potentialUpside}}</td>
                      </tr>
                </tbody>
              </table>
              <button type="submit" class="primary-blue-button" [disabled]="selectedSecurities.length <= 0" (click)="goToFinalStockList()">Buy</button>
        </div>
    </div>
</div>