<div id="existing-portfolio">
  <!-- <app-background></app-background> -->
    <div class="row">
        <div class="card" style="width: 18rem; margin-right: 20px; ">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Portfolio - Risk</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <a routerLink='/recommendation' class="btn btn-primary">See Details</a>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Portfolio - Growth </h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <a routerLink='/recommendation' class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>


</div>
