<div id="existing-portfolio">
  <div id="top">
    <div id="header">
      <section class="content-wrapper-header d-inline-flex align-items-center mb-0">
      <h1 class="ml-4 mb-0 calc-title">Your personal Portfolio Manager</h1>
      </section>
      <div class="list-section">
        <p>
            <i class="fa-sharp fa-solid fa-check fa-beat font-icon-style" style="color: #3acf44;"></i>Hassle-free & automated transaction imports 
        </p>
        <p>
            <i class="fa-sharp fa-solid fa-check fa-beat font-icon-style" style="color: #3acf44;"></i>Powerful performance analytics and comparisons
        </p>
        <p>
            <i class="fa-sharp fa-solid fa-check fa-beat font-icon-style" style="color: #3acf44;"></i>Detailed & ready to file tax statement
        </p>
        <p>
            <i class="fa-sharp fa-solid fa-check fa-beat font-icon-style" style="color: #3acf44;"></i>Automated capturing of all dividends, bonuses, rights, and splits
        </p>
        <p>
            <i class="fa-sharp fa-solid fa-check fa-beat font-icon-style" style="color: #3acf44;"></i>Manage and track your and your family's investments in one place
        </p>
      </div>
      <p class="more vr-para-tools p--section-desc mb0" id="show-more-less">
      <span class="text-truncated">
        This undoubtedly makes it India’s best portfolio management system. Experience the magic yourself!
      </span>
      </p>                                    
    </div>
</div>

  <div id="go-to-recomendation">
    <div class="text-center">
      New stock recommendation releases today - A unique play on the real estate boom
      <button type="submit" class="primary-button" (click)="goToRecomendation()">Recommendation</button>
    </div>
  </div>
  <div id="middle">
    <h1>Investment Details</h1>
    <div class="row" id="investment-details">
        <div class="col-md-5">
            <div class="details">
              <p class="key">CURRENT VALUE</p>
              <h3 class="value">3.63 Lakh</h3>
            </div>
        </div>
        <div class="col-md-5">
          <div class="details">
            <p class="key">CURRENT VALUE</p>
            <h3 class="value">3.63 Lakh</h3>
          </div>
      </div>
    </div>
  </div>

<div id="bottom">
  <div id="existing-goals">
    <div class="container mt-5 mb-3">
      <div  class="row card-group">
        <!-- Card Start -->
          <div class="col-md-4">
            <div class="card " class="circles" *ngFor='let goal of goals; let i = index'>
              <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                      <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                      <div class="ms-2 c-details">
                        <h6 class="mb-0">Created</h6> <span>{{goal.createdAt}}</span>
                      </div>
                  </div>
                  <button type="button" class="primary-button-rebalance" >ReBalance</button>
              </div>
              <div class="mt-5">
                <h3 class="heading">{{goal.portfolioName}}<br></h3>
                  <div class="mt-5">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="mt-3"> <span class="text1">32 Applied <span class="text2">of 50 capacity</span></span> </div>
                  </div>
              </div>
             </div>
          </div>
          <!-- Card End -->
      </div>
    </div>
  </div>

</div>
