<div id="script">
    <div *ngFor="let skill of skillsArray">
        <p>{{skill.name}} - {{skill.skill}} - {{skill.level}}</p>
    </div>

    <p><button (click)="clear()">Clear</button></p>
    <p><button (click)="initialize()">Initialize</button></p>

    <div class="card">
        <p><button (click)="convertToLower()">To lower case</button></p>
        <p><button (click)="convertToUpper()">To Upper case</button></p>
    </div>

    <div class="card">
        <h1>Filter skill By Level</h1>
        <input type="text" (change)="filterSkill($event)"/>
        <div *ngFor="let fskill of filteredSkillsArray">
            <p>{{fskill.name}} has {{fskill.skill}} skill with the level {{fskill.level}}</p>
        </div>
    </div>



</div>
