<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
<div id="home-wrapper">
  <div id="top">
        <div id="header">
          <section class="content-wrapper-header d-inline-flex align-items-center mb-0">
          <div class="savings-calc-logo">
              <img src="/assets/images/saving-calc-icon.svg" alt="tools-img" class="vr-tools-icon" height="60" width="60" id="investment-icon">
          </div>
          <h1 class="ml-4 mb-0 calc-title">Portfolio Recommendation Engine</h1>
          </section>
          <p class="more vr-para-tools p--section-desc mb0" id="show-more-less">
          <span class="text-truncated">
            Recommendation engines are advanced data filtering systems that use behavioral data, computer learning, and statistical modeling to predict the content, product, or services customers will like.
          </span>
          </p>                                    
        </div>
  </div>
  <div id="middle" class="row"> 
      <div id="left-panel" class="col-md-5">
        <form id="input-form" [formGroup]="inputForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label>Investment Amount</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Risk Type</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
      </div>
      <div class="form-group">
        <label>Investment Duration</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
        <div class="form-group">
            <label for="preference">Preference</label>
            <select id="preference" formControlName="preference" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.preference.errors }">
              <option selected>Choose...</option>
              <option>IT</option>
              <option>Medicine</option>
            </select>
            <div *ngIf="submitted && f.preference.errors" class="invalid-feedback">
              <div *ngIf="f.preference.errors.required">Preference is required</div>
          </div>
        </div>


          <!-- <div class="user-input-field input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Investment amount">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>

          <div class="user-input-field input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Saving amount">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div> -->

      
          <!-- <fieldset class=" form-group">
          <div class="row user-input-field">
            <legend class="col-form-label col-md-4 pt-0">Risk Type</legend>
            <div class="col-md-8">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  Low
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  Average
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                <label class="form-check-label" for="gridRadios3">
                  Aggressive
                </label>
              </div>
            </div>
          </div>
        </fieldset>

       -->

        <!-- <div class="user-input-field form-group row">
          <label class="col-md-4 my-1 mr-2" for="inlineFormCustomSelectPref">Preference</label>
          <select class="col-md-8 form-control custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>


     
          <div class="user-input-field form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Short tem Investment
            </label>
          </div> -->
        
          <!-- <button class="button" type="submit">Purchase</button> -->
          <button type="submit" class="primary-blue-button">Calculate</button>
        
        </form>
      </div>
      <div id="right-panel" class="col-md-7">
        <div id="potential-returns">
          <h3 class="inital-text">Enter details first & calculate</h3>
        </div>
      </div>
  </div>
  <!-- <div class="bg"></div> -->
  <div id="bottom">

  </div>
</div>

