<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
<div id="home-wrapper">
  <div id="top">
        <div id="header">
          <section class="content-wrapper-header d-inline-flex align-items-center mb-0">
          <div class="savings-calc-logo">
            <i class="fa fa-university" height="60" width="60" id="investment-icon" aria-hidden="true"></i>
          </div>
          <h1 class="ml-4 mb-0 calc-title">Portfolio Recommendation Engine</h1>
          </section>
          <p class="more vr-para-tools p--section-desc mb0" id="show-more-less">
          <span class="text-truncated">
            Recommendation engines are advanced data filtering systems that use behavioral data, computer learning, and statistical modeling to predict the content, product, or services customers will like.
          </span>
          </p>                                    
        </div>
  </div>
  <div id="middle" class="row"> 
      <div id="left-panel" class="col-md-5">
        <form id="input-form" [formGroup]="inputForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label>Investment Amount</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
      </div>
      <div class="form-group">
        <label>Investment Duration</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
        <div class="form-group">
            <label for="preference">Investment Sector</label>
            <select id="preference" formControlName="preference" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.preference.errors }">
              <option selected>Choose...</option>
              <option>Technology</option>
              <option>Energy</option>
              <option>Finance</option>
            </select>
            <div *ngIf="submitted && f.preference.errors" class="invalid-feedback">
              <div *ngIf="f.preference.errors.required">Preference is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="preference">Market Capitalization</label>
          <select id="preference" formControlName="preference" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.preference.errors }">
            <option selected>Choose...</option>
            <option>Large</option>
            <option>Mid</option>
            <option>Small</option>
          </select>
          <div *ngIf="submitted && f.preference.errors" class="invalid-feedback">
            <div *ngIf="f.preference.errors.required">Preference is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="preference">Portfolio Rate Of Return</label>
        <select id="preference" formControlName="preference" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.preference.errors }">
          <option selected>Choose...</option>
          <option>Average</option>
          <option>Volatile</option>
        </select>
        <div *ngIf="submitted && f.preference.errors" class="invalid-feedback">
          <div *ngIf="f.preference.errors.required">Preference is required</div>
      </div>
    </div>
          <button type="submit" class="primary-blue-button">Calculate</button>
        </form>
      </div>
      <div id="right-panel" class="col-md-7">
        <div id="potential-returns">
          <h3 class="inital-text">Enter details first & calculate</h3>
        </div>
      </div>
  </div>
  <!-- <div class="bg"></div> -->
  <div id="bottom">

  </div>
</div>

