.bg { 
    /* The image used */
    background-image: url("/assets/images/home-background.jpg");
  
    /* Full height */
    height: 30%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
#home-wrapper{
    #middle{
        border: 1px solid;
        height: 700px;
        border-radius: 5px;
        margin: 100px 200px;
        #left-panel{
            border: 1px solid;
        }
        #right-panel{
            border: 1px solid;
        }
    }
  
}

// body, html {
//     height: 100%;
//   }
  
  