<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
<div>
  <app-background></app-background>
  <div id="middle" class="row"> 
      <div id="left-panel" class="col-md-5">
        <form id="input-form" [formGroup]="inputForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
              <label>Investment Amount</label>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="text"  formControlName="investmentAmount" class="form-control" aria-label="Amount (to the nearest dollar)">
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
              </div>
                <div *ngIf="(f.investmentAmount.invalid && f.investmentAmount.touched) || f.investmentAmount.dirty">
                  <small *ngIf="f.investmentAmount.errors?.required" class="text-danger">Investment Amount is required</small>
              </div>
        </div>


        <div class="form-group">
          <label>Investment Duration</label>
          <input type="text" formControlName="age" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
          <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
              <div *ngIf="f.age.errors.required">Age is required</div>
          </div>
      </div>
        <div class="form-group">
            <label for="investmentSector">Investment Sector</label>
            <select id="investmentSector" formControlName="investmentSector" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.investmentSector.errors }">
              <option selected>Choose...</option>
              <option>Technology</option>
              <option>Energy</option>
              <option>Finance</option>
            </select>
            <div *ngIf="submitted && f.investmentSector.errors" class="invalid-feedback">
              <div *ngIf="f.investmentSector.errors.required">Investment Sector is required</div>
          </div>
        </div>
      <div class="form-group">
        <label for="portfolioRateOfReturn">Volatility</label>
        <select id="portfolioRateOfReturn" formControlName="portfolioRateOfReturn" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.portfolioRateOfReturn.errors }">
          <option selected>Choose...</option>
          <option>0 - 25</option>
          <option>25 - 50</option>
          <option>50 - 75</option>
          <option>75 - 100</option>
        </select>
        <div *ngIf="submitted && f.portfolioRateOfReturn.errors" class="invalid-feedback">
          <div *ngIf="f.portfolioRateOfReturn.errors.required">Portfolio Rate Of Return is required</div>
      </div>
    </div>
      <div class="form-group">
        <label>Portfolio Name</label>
        <input type="text" formControlName="portfolioName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.portfolioName.errors }" />
        <div *ngIf="submitted && f.portfolioName.errors" class="invalid-feedback">
            <div *ngIf="f.portfolioName.errors.required">Portfolio name is required</div>
        </div>
      </div>
          <button type="submit" class="primary-blue-button">Calculate</button>
        </form>
      </div>
      <div id="right-panel" class="col-md-7">
        <div id="potential-returns">
          <h3 class="inital-text">Enter details first & calculate</h3>
        </div>
      </div>
  </div>
  <!-- <div class="bg"></div> -->
  <!-- <div id="bottom">

  </div> -->
</div>

